In [1]:
from sklearn import datasets
from sklearn.model_selection import train_test_split
import numpy as np
import matplotlib.pyplot as py
import pandas as pd

In [5]:
data=pd.read_excel('tennis_dataset.xlsx',skipinitialspace=True)
data

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

In [10]:
data.outlook.value_counts()
#data.groupby(['play']).outlook.value_counts(normalize=True)

sunny       5
rainy       5
overcast    4
Name: outlook, dtype: int64

In [13]:
data.groupby(['outlook']).play.value_counts(normalize=True)

outlook   play
overcast  yes     1.0
rainy     yes     0.6
          no      0.4
sunny     no      0.6
          yes     0.4
Name: play, dtype: float64

In [15]:
from sklearn import preprocessing

In [41]:
le = preprocessing.LabelEncoder()

df=pd.DataFrame()
# Converting string labels into numbers.
df['wheather_encoded']=le.fit_transform(data.outlook)
print (df['wheather_encoded'])

0     2
1     2
2     0
3     1
4     1
5     1
6     0
7     2
8     2
9     1
10    2
11    0
12    0
13    1
Name: wheather_encoded, dtype: int32

In [42]:
df['temp_encoded']=le.fit_transform(data.temp)
print (df['temp_encoded'])

0     1
1     1
2     1
3     2
4     0
5     0
6     0
7     2
8     0
9     2
10    2
11    2
12    1
13    2
Name: temp_encoded, dtype: int32

In [35]:
df['humidity_encoded']=le.fit_transform(data.humidity)
print (df['humidity_encoded'])

0     0
1     0
2     0
3     0
4     1
5     1
6     1
7     0
8     1
9     1
10    1
11    0
12    1
13    0
Name: humidity_encoded, dtype: int32

In [43]:
df['windy_encoded']=le.fit_transform(data.windy)
print (df['windy_encoded'])

0     0
1     1
2     0
3     0
4     0
5     1
6     1
7     0
8     0
9     0
10    1
11    1
12    0
13    1
Name: windy_encoded, dtype: int64

In [44]:
df['play_encoded']=le.fit_transform(data.play)
print (df['play_encoded'])

0     0
1     0
2     1
3     1
4     1
5     0
6     1
7     0
8     1
9     1
10    1
11    1
12    1
13    0
Name: play_encoded, dtype: int32

In [58]:


df1=df[['wheather_encoded','temp_encoded','play_encoded']].copy()
df1

    wheather_encoded  temp_encoded  play_encoded
0                  2             1             0
1                  2             1             0
2                  0             1             1
3                  1             2             1
4                  1             0             1
5                  1             0             0
6                  0             0             1
7                  2             2             0
8                  2             0             1
9                  1             2             1
10                 2             2             1
11                 0             2             1
12                 0             1             1
13                 1             2             0

In [64]:
#Placing Income column in Y and all other columns in X
features = df1.iloc[:, :-1].values #exclude last column
label=df1.iloc[:,1].values #get array of dataset in column 1st

from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(features,label)

GaussianNB(priors=None, var_smoothing=1e-09)

In [65]:
predicted= model.predict([[0,2]]) # 0:Overcast, 2:Mild
print ("Predicted Value:", predicted)

Predicted Value: [2]